body {
    background: black;
}

canvas {
    max-width: 500px;
    width: 80%;
    display: block;
    margin: 6rem auto;
    margin-top: 0;
    border: 1px solid rgb(85, 85, 85);
}

.navigation {
    display: flex;
    align-items: center;
    width: 1100px;
    margin: 1rem auto;
    margin-top: 6rem;
}

.navigation .flash-progres {
    display: flex;
}

.navigation .flash-progres-txt {
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.navigation .flash-progres-slider {
    overflow: hidden;
    display: flex;
    width: 100px;
    margin-left: 10px;
    /* border: 1px solid rgb(0, 48, 207);; */
    border-radius: 1px;
}

.navigation .flash-progres-slider-inner {
    background: rgb(243, 213, 78);
    width: 100%;
}

.shot-container { display: flex; margin-left: 20px; }
.shot-txt {  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; color: white; }
.shots { display: flex; margin-left: 10px; }
.shot {  width: 6px; margin-right: 2px; background-color: red; border-radius: 1px; }